*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  text-decoration: none;
  list-style-type: none;
}


:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #999;

  --color-bg: #eaf6fd;
  --color-box-shadow: #5c5c5ca9;
  --color-li: #c2c2c2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--color-black);
  background-color: var(--color-bg);
}


.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100vh;
  font-size: 18px;
  background-color: var(--color-white);
  padding: 30px;

  border-right: 3px solid var(--color-black);
  border-left: 3px solid var(--color-black);
  box-shadow: 0px 0px 20px 0px var(--color-box-shadow);

  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none;
}

.title {
  font-size: 34px;
}

.nested {
  display: none;
}

.caret {
  cursor: pointer;
}

.caret:before {
  content: "";
  display: inline-flex;
  width: 8px;
  height: 8px;

  border-top: 2px solid var(--color-gray);
  border-right: 2px solid var(--color-gray);
  transform: rotate(45deg);
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
}

.caret-down:before {
  border-top: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
  margin-right: 6px;
  /* transform: rotate(495deg); */
  transform: rotate(135deg);
}

.active {
  display: block;
}
